/* imported-font */
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* font-family: 'Rubik', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

/* font-family: 'Oswald', sans-serif; */


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    color: white;
}
body{
    max-width: 100vw;
    min-height: 100vh;
}
/* container */
.container{
    max-width: 1140px;
    margin: 0 auto;
}
/* container */

.home-section > nav{
    background-color: #222222;

}
.nav-container{
    width: 60%;
    display: flex;
    margin: 0 auto;
    align-items: center;  
    height: 100px;
    line-height: 27px;
}
.header{
    text-transform: uppercase;
    font-size: 20px;
}
.header h1{
    color: #ff8b00;
    font-size: 20px;
    cursor: pointer;
}
.menu{
    margin-left: 500px;
}
.menu > ul{
    display: flex;
    list-style: none;
}
.menu > ul > li > a{
    padding:15px 30px;
    text-transform: capitalize;
    text-decoration: none;

}
.dropdown-one-parent{
    position: relative;
}
.dropdown-one{
    position:absolute;
    border-top: 2px solid #ff8b00;
    background:white;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.575);
    width: 200px;
    list-style: none;
    transform: scaleY(0);
    transform-origin: top;
    transition: 0.4s;
}
.dropdown-one li{
    transition:all .4s;
    padding: 10px 20px;
}
.dropdown-one li a{
    color: #ff8b00;
    text-decoration: none;
}

.dropdown-one li:hover{
    background-color: #222222;
}
.dropdown-one-parent:hover .dropdown-one{
    transform: scaleY(1);
    transition: 0.4s;
}
.dropdown-two-parent{
    position: relative;
}
.dropdown-two{
    position: absolute;
    top:0px;
    left: 200px;
    border-top: 2px solid #ff8b00;
    background:white;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.575);
    width: 200px;
    list-style: none;
    transform: scaleX(0);
    transform-origin:left ;
    transition: 0.4s;
}

.dropdown-two-parent:hover .dropdown-two{
    transform: scaleX(1);
    transition: 0.5s;
}

/* hero-section-start */

.hero-section{
    background-image:linear-gradient(10deg, rgba(0, 0, 0, 0.349), rgba(0, 0, 0, 0.664)), url('hero_3.jpg');
    height: 800px;
    background-size: cover;
    object-fit: cover;
    text-align: center;
    overflow: hidden;
}
.hero-text{
    width: 480px;
    margin:200px auto;
}
.hero-text h2{
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-size: 60px;
}
.hero-text p{
    text-transform: capitalize;
    color: #fff;
    margin-top: 8px;
    margin-bottom: 16px;
}
.button button{
    padding: 8px 20px;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    border: 2px solid #fff;
    background-color: transparent;
}
.button button:hover{
    background-color: #fff;
    color: #222222;
    cursor: pointer;
    transition: 0.4s;
}
/* home-section-end */

/* services-section-start */
.services-section{
    background-color: #222222;
    overflow: hidden;
}
.services-header{
    text-align:center;
    width: 635px;
    margin: 100px auto 50px auto;
}
.services-header h2{
    color: #FF8B00;
    font-size: 48px;
    font-family: oswald, sans-serif;
    text-transform: uppercase;
    line-height: 57px;
    margin-bottom: 8px;
}
h2{
    color: #FF8B00;
    font-size: 48px;
    font-family: oswald, sans-serif;
    text-transform: uppercase;
    line-height: 57px;
}
.services-header p{
    font-size: 16px;
    line-height: 28px;
    color: #939393;
    margin-bottom: 16px;
}
.services-content{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 150px;
}
.s-content{
    text-align: left;
    height: 223px;
    width: 380px;
    padding: 0 15px;
    min-height: auto;
    margin-top: 50px;
}
.icon span{
    font-size: 40px;
    color: #FF8B00;
    position: relative;
    z-index: 1;
}
.icon span::after{
    content: "";
    position: absolute;
    width: 60px;
    height: 60px;
    background: linear-gradient(30deg,  #94949485,  #353434, transparent);
    border-radius: 50%;
    top: -25px;
    left: -20px;
    z-index: -1;
}
.icon{
    margin-bottom: 16px;
}
.skate-text h2{
    font-size: 22px;
    margin-bottom: 16px;
    text-transform: uppercase;
    line-height: 27px;
}
.skate-text p{
    color: #939393;
}
.best-performance{
    height: 622px;
    width: 462px;
    padding: 48px;
    margin-left: auto;
    position: relative;
}
.best-performance::before{
    content: "";
    position: absolute;
    top: 0;
    left: -622px;
    background-image: url('img1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 626px;
    width: 557px;
}
.best-performance h2,
.best-mentor h2{
    margin-bottom: 16px;
    font-size: 32px;
}
.best-performance p,
.best-mentor p{
    line-height: 27px;
    margin-bottom: 16px;
}
.best-mentor{
    height: 622px;
    width: 462px;
    padding: 48px;
    margin-right: auto;
    position: relative;
}
.best-mentor::after{
    content: "";
    position: absolute;
    top: 8px;
    left: 615px;
    background-image: url('img2.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 626px;
    width: 557px;
}
.best-performance-ul{
    list-style: none;
    margin: 48px 0 50px 0;
    
}
.best-performance-ul li{
    color: #939393;
    padding: 5px 0;
}
.best-performance-ul li::before{
    content: "\2713";
    font-size: 24px;
    color: #FF8B00;
    margin-right: 20px;
}

p{
    color: #939393;
}
/* list-style-type: symbols(&#x2713); */
